/* Paulo Alfredo Medeiros da Fonseca*/
body{
    max-width: 1200px;
    width: 100vw;
    margin: auto;
    font: normal normal normal 12px/1.5 Verdana, Arial, Helvetica, sans-serif;
    padding: 20px;
}

.topbot{
    border: 3px solid #7B1FA2;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
}

main{
    float: left;
    clear: left;
    width: 55vw;
    padding: 10px;
    margin: 10px;
}

aside{
    float: right;
    clear: right;
    width: 25vw;
    padding: 10px;
    margin: 10px;
}

footer{
    clear: both;
}

h1{
    color: #303f9f;
    font-variant: small-caps;
}

h2{
    color: #9C27B0;
    font-variant: small-caps;
}

footer p{
    font-size: .8em;
}

.mainimg{
    border: 3px solid #E1BEE7;
}

figcaption{
    font-weight: bold;
    font-variant: small-caps;
}

q{
    font-family: cursive;
    font-style: italic;
    font-size: 1.2em;
}

ul li{
    list-style-type: none;
    line-height: 1.5;
}

ul > li > a{
    text-decoration: none;
    color: #303f9f;
}

a:hover{
    color: #E1BEE7;
}